[LightDM]

greeter-show-manual-login=true


[Seat:*]

greeter-hide-users = false


[SeatDefaults]

{% if lightdm_autologin is defined and lightdm_autologin %}
autologin-user = {{ lightdm_autologin }}
{% endif %}
